@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial.ttf);
}

body.active {
  overflow: hidden;
}
.contacts a, .location a {
    cursor: var(--cursor-normal);
}
:root{
    --cursor-pointer: url(../../assets/icons/cursor-pointer.svg), auto;
    --cursor-normal: url(../../assets/icons/cursor-default.svg), auto;
    --georgia:Georgia;
    --arial:Arial;
    --color-primary:#F1CDB3;
    --color-grey:#CDCDCD;
    --color-light:white;
    --color-dark-xl:#4C4C4C;
}
html {
  cursor: var(--cursor-normal);
}
* {
  box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 60px 40px 60px 40px;
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-position: center 0;
 

}
.darken{
  display: none;
}
nav .logo {
  display: none;
}

.logo-name {
  font-family: var(--georgia);
  width: fit-content;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.moto {
  margin-top:10px ;
  margin-left: 4px;
  font-family: var(--arial);
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  
  color: var(--color-light);
}
nav {
  display: flex;
  align-items: center;
  align-self: center;
  width: 600px;
  height: 27px;
  margin-bottom: 4px;
  
}
.nav-list {
  display: flex;
  align-items: center;

  gap: 35px;
}
.nav-items {
  height: 24px;
}

.nav-link {
  font-family: var(--arial);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-grey);

}
.nav-link.active {
  position: relative;
}
.nav-link.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}
.nav-link:hover {
color: #FAFAFA;
}
.nav-link.active {
  color: #FAFAFA;
}
.burger {
  display:none ;
}
.burger-line {
  height: 2px;
  width: 100%;
  color: #F1CDB3;
}



/* main */
.not-only {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 728px;
  padding: 0 40px;
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-position: center -180px ;

}
/* not-only section */
.not-only-dog {
  max-width: 698px;
  height: 728px;
  


}
.not-only-desc {
  margin-top: 163px;
  font-family: var(--georgia);
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 6%;
}
.not-only-heading {
  width: 310px;
  min-height: 114px;
  font-family: var(--georgia);
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: var(--color-light);
}
.not-only-subh {
  width: 460px;
  height: 72px;
  margin: 42px 0;
  font-family: var(--arial);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-grey);
}
.not-only-button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  font: var(--georgia);
  font-size: 17px;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  transition: 0.3s;
}

.not-only-button:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}
/* about section */
.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 588px;
}
.about-img {
  margin: 80px  120px 100px 215px;
  width: 300px;
  height: 408px;
}
.about-info {
  margin-top: 94px;
  width: 430px;
  height: 380px;
}
.about-heading {
  width: 370px;
  font-family:var(--georgia) ;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-dark-xl);


}
.about-p1 {
  margin: 25px 0;
  font-family:var(--arial) ;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-dark-xl);


}
.about-p2 {

  font-family:var(--arial) ;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* letter-spacing: 0px; */
  text-align: left;
  color: var(--color-dark-xl);
}
/* section pets */
.pets {
  width: 100%;
  min-height: 877px;
  padding: 0 40px;
  padding-top: 80px;
  background-color: #F6F6F6;
}
.pets-heading {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 400px;
  min-height: 90px;
  font-family: var(--georgia);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;

  color: #545454 ;
}
.slider {

  width: 100%;
  height: 435px;
  display: flex;
  justify-content: space-between;

}
.previos,.next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:192px ;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  transition: 0.3s;
}
.previos:hover,.next:hover {
  cursor: var(--cursor-pointer);
  background-color: var(--color-primary);
  transition: 0.3s;
}
.previous-icon {
  width: 14px;
  height: 6px;
  background-image: url("../../assets/icons/Arrow-1.svg");
}
.next-icon {
  width: 14px;
  height: 6px;
  background-image: url("../../assets/icons/Arrow.svg");
}
.pets-cont {
  display: flex;
  gap: 90px;
}
.pet {
  display: block;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  cursor: var(--cursor-pointer);
  transition: 0.3s;
  border-radius: 9px;
}
.pet:hover {
  background-color:white ;
  transition: 0.3s;

}
.pet-name {
  margin: 30px auto;
  font-family: var(--georgia);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color:#545454;
}
.pet:hover .learn-more{
  background-color: #FDDCC4;
  border: none;
  transition: background-color 0.3s;
}
.learn-more {
  display: block;
  width: 187px;
  height: 52px;
  margin: auto auto;
  border:2px solid var(--color-primary);
  border-radius: 100px;
  font-family: var(--georgia);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: transparent;
  color: #292929;
  transition:  background-color 0.3s;

}
.learn-more:hover {
  background-color: #FDDCC4;
  border: none;
  transition: background-color 0.3s;

}
.rest {
  display: block;
  margin: 0 auto;
  margin-top:60px ;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  border: none;
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  transition: 0.3s;
}
.rest:hover {
  background-color: #FDDCC4;
  transition: 0.3s;
}

.modal {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:#FAFAFA;
  display: none;
  width: 900px;
  min-height: 500px;
  border-radius: 9px;
  z-index: 40;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.modal.active {
  display: flex;
}
.modal-img {
  width: 500px;
  height: 500px
}
.modal-content {
  max-width: 400px;
  margin: 50px 20px 68px 29px;
  
}
.modal-pet-name {
  width: 100%;
  min-height: 45px;
  font-family: var(--georgia);
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}
.breed {
  margin-top: 10px;
  margin-bottom: 40px;
  max-width:100%;
  min-height: 23px;
  font-family: var(--georgia);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}
.about-dog {
  margin-bottom:40px ;
  max-width: 350px;
  min-height: 102px;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}

.dog-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 102px;
  width: fit-content;

}
.dog-info {
  position: relative;
  margin-left: 15px;
  min-height: 18px;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;

}
.dog-info span {
  font-weight: 400;
}
.dog-info::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F1CDB3 ;
  top: 50%;
  left: -12px;
  transform: translate(-50%,-50%);
}
.overlay {
    position: fixed;
    overflow-y: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 41, 41, 0.6);
    pointer-events: none;
}
.overlay.active {
  cursor: var(--cursor-pointer);
    opacity: 1;
    pointer-events: all;
}
.close {
  cursor: var(--cursor-pointer);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3 ;
  border-radius: 50%;
  position: absolute;
  right: -43px;
  z-index: 500;
}
.close.hovered {
  background-color:#F1CDB3  ;
  transition: 0.3s;
}
.close-icon {
  background: url("../../assets/icons/exit.png");
  width: 12px;
  height: 12px;
  z-index: 300;
}
.close:hover {
  background-color:var(--color-primary) ;
  transition: 0.3s;
}
/* help section */
.help {
   height:611px ;
  padding-top: 80px;
}
.help-heading {
  margin: 0 auto 60px auto;
  width: 310px;
  /* font-family: var(--georgia); */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color:  #545454;
}
 
 .help-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  row-gap: 55px;
  column-gap: 120px;
  width: 1030px;
  height: 281px;
 }
 .help-content {
    display: flex;
    gap: 30px;
    
    flex-direction: column;
    width: max-content;
    
    align-items: center;
 }
 .help-name {
  width: fit-content;
  font-family: var(--georgia);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
 }
 #med-img,#collars-img {
   margin-top: 4px;
 }
 /*  section donation */
 .donation {
   display: flex;
   width: 100%;
   height: 462px;
   background-color:#F6F6F6;
 }
 .donation-dog {
    margin: 91px 30px 0 183px;
 }
 .donation-content {
   margin-top: 80px;
   width:380px ;
 }
.donation-heading {
  width: 300px;
  /* font-family: Georgia; */
  font-family: var(--georgia);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
.donation-subheading {
  margin:20px 0 ;
  font-family: var(--georgia);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
.credit-card {
  display: flex;
  align-items: center;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: var(--color-primary);
  transition: 0.3s;
}
.credit-card:hover {
  background-color:#FDDCC4 ;
  transition: 0.3s;
}
.credit-card-img {
  margin: 0 15px;
}
.credit-card-number {
 
  font-family: var(--georgia);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
.donation-about {
  margin-top: 20px;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  /* letter-spacing: 0px; */
  text-align: left;
  color: #B2B2B2;
}
/* footer */
footer {
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  padding:40px 40px 0 40px;
  background-image: url("../../assets/images/footer-gradient-background.jpg");
}
.contacts {
  width: 290px;
 
}
.contacts a,.locations a {
  cursor: var(--cursor-normal);
}
.contact,.location {
  cursor: var(--cursor-normal);
}
.contacts-heading {
  margin-top: 16px;
  width: 290px;

  font-family: var(--georgia);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
}
 .contact:nth-child(2){
  margin: 40px 0;
}
.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-number,.location-number {

  font-family: var(--georgia);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-primary);
}

.location-heading {
  width: 270px;
  font-family: var(--georgia);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;

}
.locations {
  margin-top: 16px;
  margin-right: 10px;
}
.location{
  display: flex;
  align-items: center;
  gap: 20px;
}
.location:nth-child(2){
  margin: 34px 0 32px 0;
}
.location-number{
  width: 260px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 150px;
    max-width: 1200px;
    min-height: 310px;
}

@media(max-width:1279px){
  .container {
    width: 100%;
  }
  header {
    max-width: 1279px;
    padding: 30px 30px 60px 30px;
    background-image: url('../../assets/images/not-only-background-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }
  /* not only section */
  .not-only {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1279px;
    min-height: 1015px;
    padding: 0 30px;
    background-image: url('../../assets/images/not-only-background-mobile.jpg');

    background-position: center -150px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .not-only-desc {
    margin: 0 auto;
    max-width: 460px;
    min-height: 322px;
  }
  .not-only-dog {
    margin-left: auto;
    max-width: 569px;
    height: auto;
    width: 100%;
  }
  .not-only-button {
    display: block;
    margin:0 auto
  }
  /* about section */
   .about {
     max-width: 1279px;
     min-height: 1048px;
     flex-direction: column-reverse;
     align-items: center;
   }
   .about-heading {
     max-width: 370px;
     min-height: 90px;
   }
   .about-p1 {
     max-width: 430px;
     min-height: 96px;
   }
   .about-p2 {
     max-width: 430px;
     min-height: 144px;
   }
   .about-img {
     margin: 80px auto 100px auto;
   }
   /* our pets */
   .pets {
     max-width: 1279px;
     min-height: 877px;
     padding: 80px 30px 0 30px;
   }
   .pets-cont {
     gap: 40px;
   }
   .pet:nth-child(3) {
     display: none;
   }
   .slider {
     justify-content: center;
     gap: 12px
   }
   /* help */
   .help {
     max-width: 1279px;
     min-height: 779px;
   }
   .help-contents {
     display: grid;
     grid-template-columns:repeat(3,170px);
     grid-template-rows:repeat(3,113px) ;
     grid-column-gap: 60px;
     grid-row-gap: 55px;

     margin: 0 auto;
     max-width: 630px;
     min-height: 599px;
   }
   .help-content {
     width: auto;
     height: auto;
   }
   /* donation */
   .donation {
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-between;
     align-items: center;
     max-width: 1279px;
     min-height: 783px;
     padding: 80px 0 100px 0;

   }
   .donation-content {
     margin-top: 0;
   }
   .donation-dog {
     margin: 0;
   }
 
   footer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* row-gap: 300px; */
    column-gap: 300px;
    max-width: 1279px;
    min-height: 639px;
    padding: 30px 30px 0 30px;
    background-image: url('../../assets/images/footer-mobile.jpg');
    background-size: cover;
  }
  .contacts {
    margin-left: 64px;
  }
  .locations {
    margin-right: 64px;
  }
  .contacts,.locations {
    margin-top: 0;
  }
  .contacts-heading{
    margin-top: 0;
  }
  .footer-img {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 708px;
    min-height: 234px;
    gap: 50px;
  
  }
  /* modal */
  .modal {
    max-width: 630px;
    min-height: 350px;
  }
  .modal-content {
    margin: 10px 9px 37px 11px;
    max-width: 260px;
    min-height: 303px;
  }
  .modal-img{
    max-width: 350px;
    height: 350px;
  }
  .breed {
    margin-bottom: 20px;
  }
  .about-dog {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 14.3px;
    margin-bottom: 16px;
  }
  .dog-info-list {
    gap: 5px;
    min-height: 87px;
  }
}
@media(max-width:768px){
   footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 65px;
    column-gap: 50px;
    max-width: 768px;
    min-height: 639px;
    padding: 30px 30px 0 30px;
    background-image: url('../../assets/images/footer-mobile.jpg');
    background-size: cover;
  }
  .contacts {
    margin-left: 34px;
  }
  .locations {
    margin-right: 0;
  }
  .contacts,.locations {
    margin-top: 0;
  }
  .contacts-heading{
    margin-top: 0;
  }
  .footer-img {
    margin: 0 auto;
  }

}
@media(max-width:767px){
  body.active {
    overflow: hidden;
  }
  header {
    position: relative;
    padding:30px 53px 60px 10px;
    background-image: url('../../assets/images/not-only-320px.jpg') ;
    background-position: 0 0;
    background-repeat: no-repeat;
    

  }

  nav {
     position:fixed ;
     height: 100vh;
     width: 320px;
     top: 0;
     right: -320px;
     background-color: #292929;
     justify-content: center;
     transition: 1s;
     z-index: 3;
  }
 
   .darken.active {
    /* content: ""; */
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* width: calc(100% - 320px); */
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
    opacity: 0.5;
    transition: 1s;
    transition: 0.3s;
  }
  .darken {
    display: none;
    transition: 0.3s;
  }
  .nav-list {
    width: 243px;
    height: 327px;
    flex-direction: column;
    margin: auto auto;

  }
  .nav-link{
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: left;

  }
  .burger {
    display: flex;
    align-self: center;
    flex-direction:column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    transition: 1s;
    z-index: 1;
  }
  .burger-active {
    display: flex;
    align-self: center;
    flex-direction:column;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    transition:  1s;
    gap: 5px;
    right: 0;
    transition: 1s;
    z-index: 10;

  }
  .nav-active {
    right: 0;
    transition: 1s;
  }
  .nav-active .logo {
    position: absolute;
    display: block;
    top: 30px;
    left: 10px;
  }
  .burger-line {
    width: 100%;
    height: 2px;
    background-color:#F1CDB3 ;
  }
  .not-only {
    max-width: 767px;
    
  }
  /* not only */
  .not-only {
    max-width: 767px;
    min-height: 673px;
    padding:0 10px;
    background-image: url('../../assets/images/not-only-320px.jpg') ;
    background-position: 0 -150px;
    background-repeat: no-repeat;

  }
  .not-only-desc {
    max-width: 300px;
    min-height: 296px;
  }
  .not-only-heading {
    margin: 0 auto;
    max-width: 250px;
    min-height: 64px;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .not-only-subh {
  max-width: 300px;
  min-height: 96px;
  font-family: var(--arial);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  }
  .not-only-dog {
    width: 260px;
  }
  /* about */
  .about {
    padding:42px 10px;
    max-width: 767px;
    min-height: 974px;
    justify-content: space-between;
  }
  .about-info {
    margin: 0 auto;
    margin-top: 0;
    max-width: 300px;
    min-height: 494px;
    
  }
  .about-heading {
    margin: 0 auto;
    max-width: 250px;
    min-height: 64px;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .about-p1 {
    margin:25px auto 22px auto;
    max-width: 270px;
    min-height: 144px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: justify
  }
  .about-p2 {
    margin: 0 auto;
    max-width: 270px;
    min-height: 239px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: justify

  }
  .about-img {
    max-width: 260px;
    height: 353px;
    margin: 0;
  }
  /* pets */
  .pets {
    max-width: 767px;
    min-height: 791px;
    padding: 42px 10px ;
  }
  .pets-heading {
    margin-bottom: 42px;
    max-width: 300px;
    min-height: 64px;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;

  }
  .next,.previos {
    position: absolute;
    align-self: flex-end;
  }
  .next {
    right: 42px;
  }
  .previos {
    left: 42px;
  }
  .slider {
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 270px;
    min-height: 507px;
  }
  .pet:nth-child(2){
    display: none;
  }
  .rest {
    margin-top: 42px;
  }
  /* help */
  .help {
    max-width: 767px;
    min-height:745px ;
    padding: 42px 15px;
  }
  .help-heading {
    margin-bottom: 42px;
    max-width: 230px;
    min-height: 64px;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .help-contents {
    max-width: 290px;
    min-height: 555px;
    gap: 30px;
    grid-template-columns:repeat(2,130px) ;
    grid-template-rows: repeat(5,87px)
  }
  .help-content {
    gap:20px ;
  }
  .help-content img {
    height: 50px;
  }
  .help-name {
     
    height: 17px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  /* donation */
  .donation {
    max-width: 767px;
    min-height: 542.2px;
    padding: 42px 10px;
  }
  .donation-content {
    margin: 0 auto;
    max-width: 300px;
    min-height: 281px;
  }
  .donation-heading {
    margin: 0 auto;
    max-width: 220px;
    min-height: 64px;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .donation-subheading {
    margin:20px auto ;
    max-width: 273px;
    min-height: 24px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .credit-card {
    margin: 0 auto 20px auto;
    max-width:281px ;
    min-height: 43px;
    font-size: 0;
  }
  .credit-card-number {
    max-width: 206px;
    min-height: 17px;
    font-family: var(--georgia);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  @-moz-document url-prefix() {
 .credit-card-number {
   max-width: 208px;
 }
}
  .donation-about {
    margin: 0 auto;
    max-width: 280px;
    min-height: 90px;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: justify;
  }
  .donation-dog {
    width: 260px;
    height: 135.2px;
  }
  /* footer */
   footer {
     gap: 0;
     flex-direction: column;
     align-items: center;
     min-height: 809px;
     padding:30px 10px 0 10px;

     justify-content: space-between

   }
   .wrapper {
    flex-direction: column;
    gap: 40px;
    max-width: 300px;
    min-height: 470px;
    justify-self: flex-start;

  }
   
   
   .contacts {
     margin: 0 auto;
     max-width: 278px;
     min-height: 208px;
   }
   
   
   .contact {
     margin: 0 auto;
     width: fit-content;
     min-height:32px ;
   }
   .contact:nth-child(2){
     margin: 40px auto;
   }
  
   .contacts-heading,.location-heading {
     font-size: 25px;
     line-height: 32.5px;
     text-align: center;
     margin: 0 auto;
   }
   .contacts-heading {
     max-width: 278px;
   }
   .locations {
     max-width: 300px;
     min-height: 222px;
   }
   .location:nth-child(2){
     margin: 40px 0;
   }
   .footer-img {
     align-self: flex-end;
     width: 260px;
     height: 269px;
   }
/* modal  */

  .modal {
    max-width: 240px;
    min-height: 341px;
  }
  .modal-content {
    margin: 10px;
    max-width: 220px;
    min-height: 321px;
  }
  .modal-img{
    display: none;
  }
  .breed {
    margin-bottom: 20px;
  }
  .about-dog {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 14.3px;
    margin-bottom: 16px;
  }
  .dog-info-list {
    gap: 5px;
    min-height: 87px;
  }
  .close  {
    right: -35px;
  }



  
}
